# firebase-functions-python

# Relative path during development
./../../
# Switching to git upon deployment
# git+https://github.com/firebase/firebase-functions-python.git@main#egg=firebase-functions

firebase-admin >= 6.0.1